[2017-05-30 21:29] returnlytom opened #2 "Customizable removeElem() delay"
Before 1.1.2, the removeElem fired instantly; now there's a 300ms delay:

![gif](http://g.recordit.co/jo54U6qFeD.gif)

Potential solution could be adding another attribute property to the directive. For example:

[code]

[2017-06-09 16:31] drozhzhin-n-e commented on #2
This is fixed in the 1.2.0 version
`<div tooltip="Tooltip" placement="left" show-delay="300" hide-delay="300"></div>`

[2017-06-10 00:20] returnlytom commented on #2
Thanks @drozhzhin-n-e

[2017-06-10 00:20] #2 closed

[2017-06-22 13:12] rajesh9v opened #4 "Not working in IE 11"
![image](https://user-images.githubusercontent.com/8220618/27435910-2c97c06a-577b-11e7-96a9-e00b79fa9fc2.png)

[2017-07-30 14:15] sarathkcm opened #5 "You should not need to recompile .ts files in node_modules"
Hello,
Happen to come across this compiler error while using your directive.

For the time being, I included the node_modules folder in compile paths and it worked fine.

[2017-07-31 17:40] sarathkcm commented on #4
I am getting the same error

[2017-07-31 17:44] sarathkcm commented on #4
Works perfectly in Chrome though... @drozhzhin-n-e, could you please check the issue?

[2017-08-05 14:12] drozhzhin-n-e commented on #4
This is fixed in the last commit

[2017-08-10 19:58] returnlytom commented on #5
Would this require changes to the `package.json`? Also affected by this, ended up copy-and-pasting the directive code into my own project

[2017-08-11 07:08] #4 closed

[2017-08-21 06:11] makito opened #7 "The tooltip is not deleted if the main element was deleted."
If the element on which the tooltip directive is applied is removed from dom, then the tooltip, if it was previously shown, is not deleted.
To fix this, you need to add the decorator @HostListener ("mousedown") to the method of hiding the tooltip.
Sorry, but I can not create a pull request.

[2017-09-08 07:45] phil123456 opened #8 "apparently not working with angular 4"
Hello

tried to add it to my project, no tooltip ever appears

[2017-09-08 17:44] returnlytom commented on #8
Works for us on 4.2.x; however because of https://github.com/drozhzhin-n-e/ng2-tooltip-directive/issues/5 we ended up copying and pasting the directive code directly into our repo

[2017-09-11 12:55] KissBalazs commented on #8
This is not working for me either. (angular 4.3.1)

After a bit debugging, what I saw is that in the `show()` method:

`if (this.showTimeoutId) {
      clearTimeout(this.showTimeoutId);
    }

    this.showDelay = this.delay || this.showDelay;
    this.showTimeoutId = setTimeout(() => {
      if (this.tooltip){
        this.tooltip.className += " ng-tooltip-show";
      }
    }, this.showDelay);`

[2017-10-13 09:43] giuseppeminnella commented on #7
fyi: https://github.com/drozhzhin-n-e/ng2-tooltip-directive/pull/9

[2017-11-14 07:39] #7 closed

[2017-11-23 15:43] adrianadr opened #10 "Problem with showing tooltip on chrome"
On firefox works well, but on chrome if a set the tooltip on a div with 200x200 and i set the placement to right instead right the tooltip will be placed in the left top corner of the div. On firefox will work well.

[2017-11-24 13:30] akshay-gupta5606 commented on #8
Do we have a solution for this ?

[2017-11-24 13:33] akshay-gupta5606 commented on #8
There is no tooltip displayed.The style is displayed-:
<span placement="top" ng-reflect-tooltip-text="Tooltip" ng-reflect-placement="top">HIIII</span>
But the tooltip is not displayed.I can see the text is also assigned but the tooltip does not popup

[2017-11-27 12:01] rajeshK88 opened #11 "add parentElement width and element position"
Hi,
 can we add a input to the directive for taking parentElement width. This will help to take the position for parent element width.

getElemPosition(){
        this.elemPosition = this.elementRef.nativeElement.parentElement.getBoundingClientRect();
    }

let elemWidth = this.elementRef.nativeElement.parentElement.offsetWidth;

Let me know if it is possible..

[2018-01-05 14:14] on3al opened #13 "Badly Packaged Library -- Breaks AOT Compilation in Angualr 5"
Using this package in an ng-clii 1.63 generated angualr 5 project works fine, but it will not work with
ng serve -aot
or ng build -prod production builds that use aot

I believe this is related to a breaking change in angular 5

[https://github.com/angular/angular-cli/issues/8284](https://github.com/angular/angular-cli/issues/8284)

The resulting error is:
[code]

[2018-01-12 18:13] danieltorrer commented on #13
Same issue here, ¿Did you find a fix @on3al ?

angular: 5.1.3
cli: 1.6.3

[2018-01-12 18:49] on3al commented on #13
@danieltorrer - not for the this package. For my own project that was using it I just added added the file https://github.com/drozhzhin-n-e/ng2-tooltip-directive/blob/master/src/tooltip.directive.ts directly into my project rather than pulling it from npm until this is resolved.

[2018-01-12 19:50] returnlytom commented on #13
Probably the same underlying issue as this: https://github.com/drozhzhin-n-e/ng2-tooltip-directive/issues/5

As a workaround, I also just copied the directive code into our project; would prefer to use `npm` of course :)

[2018-01-12 23:15] danieltorrer commented on #13
Thanks, it worked!

[2018-01-12 23:17] danieltorrer opened #14 "Feature - Added function to open tooltip with click"
I modified the code a little bit to open a tooltip with a click instead of hovering the element.
Is it something you guys are interested in? I can PR the code if so.

Thanks for the library :)

[2018-01-12 23:24] returnlytom commented on #14
Yeah that would be great, can you open a PR?

Ideally the default behavior would remain unchanged, and the click would be opt-in.

[2018-01-12 23:56] danieltorrer commented on #14
Done!

[2018-05-17 08:10] leihg opened #16 "Make a suggestion"
Sometimes this black background is very different from my project,the background color can be used to customize the configuration.

[2018-05-31 12:41] Bram77 opened #17 "Not working with Angular 6"
After upgrading from Angular 5 to Angular 6 this directive stopped working. All I see in the log is dat it depends on specific (older) module versions. This was already the case when using Angular 5 and there the tooltips worked fine. Is there anything I can do to make de directive work with Angular 6?

[2018-07-04 09:57] shayanpaul opened #18 "After --Prod build its giving error No component factory found for c. Did you add it to @NgModule.entryComponents?"
After --Prod build, when i am trying to hovering on something that has the tooltip in it , its giving error No component factory found for c. Did you add it to @NgModule.entryComponents? followed by Cannot read property 'instance' of undefined.

I have just imported it in the module in app.module.ts file and added it in imports array.
Working fine when not doing prod build.

[2018-07-30 08:33] bentom12 opened #20 "bug: the tooltip doesn't disappear in a case"
bug: if the tooltip is shown and the related dom element is destroyed/removed (ie. the page changes) then the tooltip remains fixed and cannot be removed anymore.

proposed fix: add "this.destroyTooltip();" in the "ngOnDestroy()" method.

[2018-08-03 11:57] shayanpaul commented on #18
No this issue has not been resolved by importing it in app.module.ts. Any update on this issue. Prod build is something very essential for production

[2018-08-03 19:28] drozhzhin-n-e commented on #18
@shayanpaul please try version 2.1.5

[2018-08-03 19:30] drozhzhin-n-e commented on #17
@Bram77 please try version 2.1.5

[2018-08-08 07:08] dgroh opened #21 "Allow to pass coordinates for positioning"
Currently it's not possible to pass coordinates for positioning the tooltip. This can be useful when you have for instance a map (like googlemaps), but want the tooltip to sticky to the current clicked element on the map when moving the map around.

Example: http://jsfiddle.net/goredwards/2cs4puaz/

[2018-08-09 16:16] panagulis72 commented on #18
Someone found solution?...

[2018-08-09 17:04] #5 closed

[2018-08-09 17:06] #14 closed

[2018-08-10 11:30] drozhzhin-n-e commented on #18
in which version of angular does the problem occur? Build with CLI?

[2018-08-10 11:40] shayanpaul commented on #18
Seems like the latest version does not have this issue.. Cheers...

[2018-08-10 11:40] #18 closed

[2018-08-10 12:14] panagulis72 commented on #18
While building I have no error but when I open the application I get the error:

I'm using this in package.json: "ng2-tooltip-directive": "^2.1.4"
And this version of angular:
   "@angular/cdk": "^6.3.3",
    "@angular/common": "^6.0.7",
    "@angular/compiler": "^6.0.7",
    "@angular/core": "^6.0.7",
    "@angular/flex-layout": "^6.0.0-beta.16",
    "@angular/forms": "^6.0.7",
    "@angular/http

[2018-08-10 12:18] drozhzhin-n-e commented on #18
@panagulis72 try 2.1.5, the latest version is packed in another way

[2018-08-12 16:54] PrasanthJayaraman opened #22 "Not working with Angular 2 version 2.4.6"
I get the renderer2 issue, looks like you forgot about the backward compatability, Angualr2 has Renderer and Angular4 has Renderer2.

`ERROR: node_modules/ng2-tooltip-directive/lib/tooltip.component.d.ts(1,36): Error TS2305: Module '"node_modules/@angular/core/index"' has no exported member 'Renderer2'.`

[2018-08-13 14:20] kurthamilton opened #23 "Tooltip extends page height"
The tooltip extends the page height before the position is applied.

This is noticeable in Firefox, as the tooltip element is added first on element hover, and then the position applied when hovering over the text content. The effect isn't noticeable in Chrome since the position is calculated immediately.

This has the undesirable effect of causing the scroll bar to briefly appear when the additio

[2018-08-19 08:55] mikestotik opened #24 "Please add maxWidth option"
<img width="201" alt="1" src="https://user-images.githubusercontent.com/31506160/44307203-cc29f300-a3a6-11e8-82f8-ee42114c6bd4.png">

[2018-08-20 07:55] drozhzhin-n-e commented on #24
Added option `max-width: string `

https://github.com/drozhzhin-n-e/ng2-tooltip-directive/commit/8cbe87cba775af6fce7d13647529adaf60ee4983

[2018-08-20 07:57] #24 closed

[2018-08-20 15:02] mikestotik commented on #24
Awesome! thank you very much!

[2018-08-29 02:26] bdlaureano opened #25 "style arrow"
Hello,
I was able to style the box, but no the arrow, any idea?
Thank you!

[2018-08-29 15:16] drozhzhin-n-e commented on #25
@bdlaureano  if I get you right. Style arrow depends on the pseudo-element ":after"

https://github.com/drozhzhin-n-e/ng2-tooltip-directive/blob/master/src/app/tooltip/tooltip.component.sass#L25

[2018-08-29 17:48] AntonisFK opened #26 "display input not not hiding tooltip"
Expected behavior:
`<span tooltip="Tooltip" placement="bottom" show-delay="500" display="false">Tooltip on top</span>`
This should make Tooltip not availability for display however it doesn't work.

`<span tooltip="Tooltip" placement="bottom"  [options]="options">Tooltip on top</span>`
 Using options work. This Also bring me to another point changing options[display] doesn't seem to change the ava

[2018-08-31 20:49] evalaidc opened #28 "Adding tooltip-class option not working"
I'm trying to add a tooltip class using the options. It doesn't appear to be taking the class "new-tooltip-class"
[code]
[code]

I'm trying to change the styles of the tooltip using this newly added class.  (for instance change the background-color: red)

[2018-09-03 10:39] panagulis72 opened #29 "Hide tooltip from component.ts"
Hi,
is that possible to retrieve an instance of a Tooltip into the component.ts, to close the tooltip manually with hide() function?

[2018-09-03 16:39] drozhzhin-n-e commented on #29
@panagulis72 hello, see the example here https://github.com/drozhzhin-n-e/ng2-tooltip-directive/blob/master/src/app/app.component.html#L71

[2018-09-03 16:41] panagulis72 commented on #29
Hi @drozhzhin-n-e , yes I found that example before, but there alla done in the HTML dom; is there a way to do it from the Typscript code?

[2018-09-03 16:50] drozhzhin-n-e commented on #29
@panagulis72 yes, exactly the same: https://gist.github.com/drozhzhin-n-e/5511e3d2c1b59d9403edf7e882b36667

`this.someTooltip.hide()`

[2018-09-03 16:57] panagulis72 commented on #29
Perfect, now it works fine! Thank you very much for the quick support!

[2018-09-03 16:57] #29 closed

[2018-09-03 17:54] oluckyman opened #30 "Show tooltip triggers hiding and then showing again when on the border of the target"
When you move mouse to the edge of the target, the tooltip showing and hiding endlessly
![ezgif com-optimize](https://user-images.githubusercontent.com/642673/44998059-dbb65800-afb2-11e8-9a61-e8378f8cdff4.gif)

[2018-09-04 05:08] #30 closed

[2018-09-07 10:53] drozhzhin-n-e commented on #20
it seems I hurried to close the issue

[2018-09-07 20:54] returnlytom commented on #20
Could this be related? LMK if a more detailed stack trace would be helpful in troubleshooting.

![tooltip_error](https://user-images.githubusercontent.com/22224829/45242579-7362c180-b2a5-11e8-8f4d-68237f281f45.png)

[2018-09-17 06:53] kpodemski commented on #20
Hey @drozhzhin-n-e

any news on this issue? at this moment tooltips has been always displayed, even tho application changed its route to another one x_x

[2018-09-22 17:30] drozhzhin-n-e commented on #28
Are you sure? I checked your code and found no problem

![screen](https://user-images.githubusercontent.com/6724565/45919951-410cb300-bea6-11e8-8028-7b9dfd969b99.png)

[2018-09-22 17:38] #26 closed

[2018-09-22 17:41] drozhzhin-n-e commented on #20
@kpodemski Hi. Try this one https://github.com/drozhzhin-n-e/ng2-tooltip-directive/commit/5807d6390ba31cfd47f2d32c84831ed81e47f8ff

[2018-09-22 17:45] drozhzhin-n-e commented on #16
You can specify a class using the "tooltip-class" option and add a style to it.

[2018-09-22 17:45] #16 closed

[2018-09-22 17:46] #13 closed

[2018-09-22 17:51] #17 closed

[2018-09-22 17:53] #8 closed

[2018-09-25 11:57] shayanpaul opened #32 "Tooltip is not displaying in Modal when the browser is IE"
I am using angular material modal and also using ng2-tooltip in it. but when i am openning my website in IE the tooltips inside the modal are not getting visible. I tried to find the root cause and figured out that the tooltip actually generating but getting underneath of the modal. Happening only in IE

[2018-10-01 10:10] WhatzzUp opened #33 "Tooltip inside ngFor"
Hello folks,

I implemented the tooltip directive inside a *ngFor:
[code]
We recreate our sidenavigation array on every route change -> so ngFor will be recreate the whole sidenav. After recreating, the "old" tooltip survive this process and is still displayed.
<img width="149" alt="bildschirmfoto 2018-10-01 um 11 57 22" src="https://user-images.githubusercontent.com/23344282/46282227-3a9acd00-c57

[2018-10-10 12:58] rochapablo commented on #28
The class it's been add, but nothing changes.

[code]

[code]

[code]

[2018-10-10 14:38] drozhzhin-n-e commented on #28
@rochapablo Are you using a global stylesheet?

[2018-10-19 11:07] kashifnazar opened #34 "ERROR in Metadata version mismatch for module 'ng2-tooltip-directive.d.ts', found version 4, expected 3"
Initially, I didn't get any errors after I installed this library and used it in my project. Next day, when I tried to  start the server, I started getting the following error message.

ERROR in Metadata version mismatch for module <project_path>/node_modules/ng2-tooltip-directive/ng2-tooltip-directive.d.ts, found version 4, expected 3.

Here is the version info.
[code]

[2018-10-22 20:06] bdlaureano commented on #20
???

[2018-11-05 23:12] jeremyng5352 commented on #20
Hi there,

May I know how can I fix this as a user, or this can only be fixed internally. Sorry, I am still quite a beginner on this.

[2018-11-05 23:28] jeremyng5352 opened #35 "Line break for tooltip"
Feature request: Able to take in <br/> or \n in for the tooltip.
For example: tooltip="click to open menu \n drag to move item"

[2018-11-13 15:56] oloflandahl opened #36 "Tooltip is displayed on mobile despite display-mobile option being set to false"
The displayMobile setter only sets value if it's truthy, hence false cannot be set:

if (value) {
  this._options['display-mobile'] = value;
}

[2018-11-15 20:16] nirajkrz opened #37 "Tool tip Doesn't display on Hover"
Hi,

Thanks for the great work on this tooltip. This is a life saver for many of us.

I have cloned this repo and tried to run it locally. On the rendered page, i do not get the tooltip on hover, It shows on click. Also the same behavior is seen when i include it in my project.

I have this as my options:
`	'animation-duration': 300,
	'animation-duration-default': 300,
	'trigger': 'hover',
	'toolt

[2018-11-15 20:56] nirajkrz commented on #37
There seems to be an issue with `isDisplayOnHover `in directive, I changed it to this for making it work as expected:

 ` get isDisplayOnHover(): boolean { `

                      if (this.options['trigger'] === 'hover') {
                       return true;
                      } else if (this.isMobile || this.options['display'] === false) {
                        return false;

[2018-11-16 14:40] nirajkrz commented on #37
@returnlytom : sure will send it soon.

[2018-11-19 02:58] chabb opened #39 "Tooltip does not display when the anchor is an SVG element"
It's due to the fact the API is different for getting the width/height is different
I have a PR for it

[2018-11-21 10:22] shubh9415 commented on #35
is there a way to break line for now?

[2018-11-28 16:10] dgonz371 commented on #34
Try downgrading to version 2.0.0 of the ng2-tooltip-directive

[2018-11-29 10:19] usuf13 commented on #35
I'm used '\n' and it works for 2.1.5 / angular 7

[2018-11-29 17:34] aharms24 commented on #20
This bug is still persisting. The developer should not have to add code in the onDestroy method to make the tooltip disappear when navigating away. This is a great directive with a big flaw.

[2018-11-30 08:05] drozhzhin-n-e commented on #20
I updated the npm library, try version 2.1.6

[2018-12-06 08:11] kexxxfeng commented on #36
Use another way
[code]
[code]

[2018-12-09 07:08] karandashek opened #41 "Question: it seems hide-delay config option is not working"
Hi! I'm trying to set "hide-delay" value as 0, but nothing changes and i'm not sure why. Some different options in the same config are working correctly('placement' and 'animation-duration'). Hope you can help me :) Is there any way to hide tooltip immediately after pointer moved away from element?
Thanks!

[2018-12-09 07:31] drozhzhin-n-e commented on #41
Hi. Try setting 0 for 'animation-duration'. This is the time for animation. 'hide-delay' starts after 'animation-duration'.

[2018-12-09 07:38] karandashek commented on #41
Set
'animation-duration': 0,
'hide-delay': 0

but nothing changed, tooltip appears immediately and disappears with delay

[2018-12-11 18:04] drozhzhin-n-e commented on #41
I think the problem is in the `[options]` property. Try this:

[code]

[2018-12-11 18:09] #37 closed

[2018-12-11 19:45] drozhzhin-n-e commented on #36
@oloflandahl fixed https://github.com/drozhzhin-n-e/ng2-tooltip-directive/commit/da8bfa34f23070272879fa7e3c0f3ea69dceeeb5

[2018-12-12 03:58] karandashek commented on #41
Yes, you are right, i used hide-delay="0" separately and it works perfect!
Thank you!

[2019-01-14 11:34] jordibaliellas opened #43 "add html in the tooltip"
How can i pass html to tooltip?

[2019-01-15 07:16] #41 closed

[2019-01-15 07:19] drozhzhin-n-e commented on #43
there is no html support now

[2019-01-17 08:09] mridulaMohandas opened #44 "Tooltip on hover is not working in chrome and IE"

[2019-01-17 08:57] mridulaMohandas opened #45 "Do we need to buy the licence to use in Application?"
Currently i am using this library in my application .i saw licence has updated that we need to pay for using this .

Could you please let me know its a free  or paid one.

[2019-01-17 09:03] drozhzhin-n-e commented on #45
Hello. The ng2-tooltip directive is licensed under the MIT license. You can use it in your application for free.

[2019-01-17 09:03] #45 closed

[2019-01-18 08:49] mridulaMohandas commented on #44
@drozhzhin-n-e could you please address this issue on priority .

[2019-01-18 20:56] sovicheacheth commented on #35
'\n' is not working for me on 2.1.6 and angular 6.2.4

[2019-01-24 09:14] vitarunaeva opened #48 "Can't bind to 'options' since it isn't a known property of 'button'."
<button md-icon-button tooltip="tooltipText" [options]="tooltipOptions">

[2019-01-24 09:42] drozhzhin-n-e commented on #48
Make sure the tooltip works without `[options]`.  And also check `<button tooltip = "tooltipText" [options] = "tooltipOptions">`.

[2019-01-24 09:44] drozhzhin-n-e commented on #44
do you see errors in the console?

[2019-01-24 09:45] #36 closed

[2019-01-24 09:46] #33 closed

[2019-01-24 09:46] #20 closed

[2019-01-24 09:47] #28 closed

[2019-01-24 09:49] #25 closed

[2019-01-24 09:49] #10 closed

[2019-01-24 10:16] vitarunaeva commented on #48
I sure the tooltip works without [options]. Version 2.0.0 provides this functionality?

[2019-01-25 15:18] drozhzhin-n-e commented on #48
@vitarunaeva no, [options] is in later versions

[2019-01-25 15:35] vitarunaeva commented on #48
@drozhzhin-n-e ok.  I use "@angular/material": "2.0.0-beta.10" . But, versions "@angular/material": "2.0.0-beta.10" and "ng2-tooltip-directive": "^2.1.6" aren`t compatible (ERROR in Metadata version mismatch for module 'ng2-tooltip-directive.d.ts', found version 4, expected 3). I lowered the version of your package to 2.0.0. How can I set default tooltip properties in one place? Maybe using a meth

[2019-01-25 17:11] drozhzhin-n-e commented on #48
@vitarunaeva Take the module from the repository. This is a link to version 2.0.0: https://github.com/drozhzhin-n-e/ng2-tooltip-directive/tree/08b101b04170eb2b6d6c572780e7da5bbe8b4bb5

Change `tooltip.directive.ts`:
[code]

Set default values here.

[2019-01-27 18:32] mridulaMohandas commented on #44
No errors in Console. it seems this issue is happening in Below Site also
http://crystalui.org/components/tooltip . On hover tooltip is not displaying but if you click on text tooltip in displaying. i have added triggert ="hover " but stil on hover tooltip is not coming in chrome .

[2019-01-27 18:36] drozhzhin-n-e commented on #44
@mridulaMohandas  In which version of chrome and in which operating system do you see this?

[2019-01-27 18:45] mridulaMohandas commented on #44
@drozhzhin-n-e  Chrome version is Version: 71.0.3578.98 (Official Build) (64-bit). operating system is Windows 10.

[2019-01-27 18:53] drozhzhin-n-e commented on #44
@mridulaMohandas  I use the same version of chrome and do not observe problems. Perhaps this is a special case. Try it on another computer.

[2019-02-04 05:46] mridulaMohandas commented on #44
@drozhzhin-n-e  i checked in other computers  browsers as well  there also same issue is there . Could You please check .

[2019-02-04 07:20] mridulaMohandas commented on #44
@drozhzhin-n-e when you hover over a button in the example - tooltip is not coming  in chrome & IE browser, but tooltip is  coming on click of button.

[2019-02-04 07:43] mridulaMohandas commented on #44
@drozhzhin-n-e Could you please Address this issue at the earliest as this is one of major cross browser issue inm y application

[2019-02-04 16:07] drozhzhin-n-e commented on #44
I tested in the browserstack, here are the results (on hover):

Chrome 72 / windows 10
![image](https://user-images.githubusercontent.com/6724565/52219957-c79ebb80-28ae-11e9-874e-7564f9c9d456.png)

Chrome 71 / windows 10
![image](https://user-images.githubusercontent.com/6724565/52220102-28c68f00-28af-11e9-94d0-822c0575c56d.png)

Edge 18 / windows 10
![image](https://user-images.githubusercontent.

[2019-02-05 14:40] mridulaMohandas commented on #44
I tested in other system browsers also but same issue  tooltip is not displaying on hover .only if we click on  button tooltip is appearing .I checked console no errors  . Do you have any idea how to fix this issue.

[2019-02-05 17:58] drozhzhin-n-e commented on #44
@mridulaMohandas I can not recreate the problem to solve it. I advise you to check:
- Is the tooltip element added to the DOM tree?
- If so, where is the element?

[2019-02-06 06:14] mridulaMohandas commented on #44
* Is the tooltip element added to the DOM tree?  - No On hover tooltip element is not adding to the Dom Tree.

[2019-02-06 07:01] MarioJonckers commented on #44
I have the same issue, also in Chrome when I hover over the element the tooltip won't show, but when I click on it, it appears. Going to investigate it today as it is code from another developer who already left the project.

[2019-02-06 07:08] drozhzhin-n-e commented on #44
@mridulaMohandas @MarioJonckers  Check if the focusin and mouseenter event works here: https://github.com/drozhzhin-n-e/ng2-tooltip-directive/blob/master/src/app/tooltip/tooltip.directive.ts#L194

[2019-02-06 08:38] MarioJonckers commented on #44
Yes, the event triggers, but this.isDisplayOnHover is false

[2019-02-06 08:53] MarioJonckers commented on #44
What I do notice is in your code (provided by the link) you have
`
get isDisplayOnHover():boolean {
    ......
    if (this.options['display-mobile'] == false && this.isMobile) {
      return false;
    }
    .....
    return true;
  }
`

But I have
`
    ......
    if (this.isMobile) {
      return false;
    }
    .....
`

[2019-02-06 09:03] MarioJonckers commented on #44
@drozhzhin-n-e I am on version 2.1.6 and it seems I do not have the 'fix mobile mode' commit

[2019-02-06 09:11] MarioJonckers commented on #44
All fixes since 2018-11-30 are not included in latest version on npm (2.1.6).
I think you have to release a new version on npm to include your latest fixes.

Kind regards
![2019-02-06 10_10_05-window](https://user-images.githubusercontent.com/10688938/52331104-8fef5b00-29f7-11e9-8e22-6e8ca0955d67.png)

[2019-02-06 11:14] drozhzhin-n-e commented on #44
@mridulaMohandas I published version 2.1.7

[2019-02-06 11:17] mridulaMohandas commented on #44
@drozhzhin-n-e everytime do i need to update the latest version whenever new releases came  ?

[2019-02-06 11:38] mridulaMohandas commented on #44
@drozhzhin-n-e hide-delay="0" is not working properly in chrome.

[2019-02-06 11:39] drozhzhin-n-e commented on #44
@mridulaMohandas  try `hide-delay = "1"`

[2019-02-06 11:42] drozhzhin-n-e commented on #44
@mridulaMohandas  I was wrong, the message about version 2.1.7 for @MarioJonckers

[2019-02-06 11:54] mridulaMohandas commented on #44
@drozhzhin-n-e thank you for the update

[2019-02-06 12:22] cherurg opened #49 "AoT compilation: Directive TooltipDirective, Expected 0 arguments, but got 1."
I get this error when try to compile my library that has `ng2-tooltip-directive` dependency. Please, consider adding argument `event: any` here: https://github.com/drozhzhin-n-e/ng2-tooltip-directive/blob/02b615545af5dafd0fd39f27ed9501db0a4a072b/src/app/tooltip/tooltip.directive.ts#L212

Another option is removing of the second argument `['$event']` from the decorator: https://github.com/drozhzhin

[2019-02-06 15:31] #49 closed

[2019-02-06 15:33] drozhzhin-n-e commented on #49
@cherurg fixed in version 2.1.8

[2019-02-07 08:29] MarioJonckers commented on #44
@mridulaMohandas thanx that fixed my problem

[2019-02-07 09:24] drozhzhin-n-e commented on #44
@mridulaMohandas Is your problem solved too?

[2019-02-07 09:56] mridulaMohandas commented on #44
@drozhzhin-n-e Now tooltip is apearing on hover but hiding is taking a 1 sec time because of this two tooltip are appearing on top of each other .

[2019-02-08 06:44] mridulaMohandas commented on #44
@drozhzhin-n-e i have added placement ='top'  animation-duration="0" hide-delay="0" these properties in table div.

1. In firefox if i hover  on first element tooltip appears and the same moment if i hover on second element in column  first column tooltip disappear and second one appears so in firefox hide-delay and animation-duraton is working properly.

2.In Chrome  if i hover on first element t

[2019-02-08 08:23] mridulaMohandas commented on #44
yes.

[2019-02-10 17:25] cherurg commented on #49
@drozhzhin-n-e thank you!

[2019-02-11 07:33] mridulaMohandas commented on #44
@drozhzhin-n-e Any Solution on this.

[2019-02-12 14:05] drozhzhin-n-e commented on #44
@mridulaMohandas Please remember that this is an open source project to which everyone can contribute. Including you. Thanks for saying about the problem, but now I don’t have time to solve it.

[2019-02-18 18:44] nirajkrz commented on #43
You can pass it.. I modified it to do it like this:

In ToolTipComponet template:
`<div *ngIf="valueType === 'html' else noHtml" [innerHTML]="value"></div>
<ng-template #noHtml>{{value}}</ng-template>`

and pass the valueType as part of tool-tip configuration: when you need the HTML display, just use like this:

` <div tooltip="{{getHTML()}}" placement="top" value-type="html">`

[2019-02-18 18:44] nirajkrz commented on #43
@drozhzhin-n-e , i can work on this and create a PR if you would like to. Let me know what you think

[2019-02-18 18:50] nirajkrz commented on #43
@drozhzhin-n-e , i will be happy to work on this and create a PR if you would like to. Let me know what you think

[2019-02-18 19:49] drozhzhin-n-e commented on #43
@nirajkrz thanks for the idea. I will definitely do it when I have free time.

[2019-03-18 12:04] returnlytom commented on #43
@drozhzhin-n-e This can be closed now that #51 has been merged.

Also, can you bump the version in npm?

[2019-03-20 05:30] drozhzhin-n-e commented on #43
@returnlytom @jordibaliellas  added to version 2.1.9

[2019-03-20 05:30] #43 closed

[2019-04-25 12:22] bernester commented on #23
will this be fixed?

[2019-04-25 12:28] kurthamilton commented on #23
I'm now using ng-bootstrap in preference to individual libraries like this. It is well supported and kept up to date with Bootstrap releases.

[https://ng-bootstrap.github.io](https://ng-bootstrap.github.io)

Tooltip documentation: [https://ng-bootstrap.github.io/#/components/tooltip/examples](https://ng-bootstrap.github.io/#/components/tooltip/examples)

[2019-04-29 04:13] treesa-cyriac opened #52 "Tooltip not disappearing on clicking outside of the tooltip content"
When giving trigger="click", tooltip does not disappear on clicking outside of the tooltip content

<span tooltip="tooltipText" placement="right" trigger="click" hide-delay="10000" >

[2019-05-01 17:22] Kuldevsingh commented on #34
Hi,
I having same issue did you find any solution so far ?

[2019-05-03 06:06] afzalriz304 opened #53 "Tooltip disappers once tries to leave the on hover area"
I have render a html content inside the tooltip. So whenever i hover it, the tooltip appears but once i tried to select the content of the tooltip it disappears. I want it to remain there after i appears.

[2019-05-13 03:26] anlovedota1 opened #54 "I think the component should be able to expose a custom fetch location API based on the mouse hovering over the target element for a while."
I think the component should be able to expose a custom fetch location API based on the mouse hovering over the target element for a while.

[2019-05-24 14:25] Dannyalmighty opened #55 "Show and Hide Method is not working"
The Show and Hide Method is not working in your demo and I cant seem to get it to work in my app as I am following the exact instructions from the previous made issue of hiding the tooltip from [component.ts.]

[2019-05-30 20:17] WillGeller opened #57 "Popover Component?"
Great `tooltip` component! I am using it now in an Angular Hybrid application that also uses ui-bootstrap on the angularJs side. I'm unable to use `ng-bootstrap` due to conflicting CSS versions of the Bootstrap library. Your directive has been a great drop-in replacement.

I also am upgrading a component that needs a popover type functionality. I see I can use this tooltip with click to trigger, r

[2019-05-31 07:04] drozhzhin-n-e commented on #57
@WillGeller I am glad that the tooltip was useful to you. I have already completed the popover component, but have not published it because I do not have time to support it. I do not plan to use it in my projects, so I do not get any benefit from its development. Would you be willing to pay for a license to use it?

[2019-06-03 12:17] shaukath commented on #28
**Not Working For me**
I tried with !important also
In the same component css i have added the class, and the same class added to myOptions tooltip-class: "tooltip_bg"
"@angular": "7.2.12",
"ng2-tooltip-directive": "^2.1.9",

.tooltip_bg {
background-color: green !important;
}

Didn't worked for me, Kindly help me

[2019-06-03 17:47] drozhzhin-n-e commented on #28
@shaukath class tooltip_bg added to the tooltip tag? Have you added a CSS to a component style file or to a global style file?

[2019-06-06 11:18] shaukath commented on #28
I tried in both didn't get.
::ng-deep with the custom class solved my issue.

and with ::ng-deep .tooltip also we can customise the tooltip CSS.

[2019-06-10 11:50] naveedshahji opened #59 "can we show the tootltip on bottom-right and can we change the font-size of the tooltip"
can we show the tootltip on bottom-right and can we change the font-size of the tooltip

[2019-07-05 08:10] Leonard590 opened #60 "Set default values for tooltip"
Hi,

is there a way to set the default settings?
For example I'd like to set `show-delay` to a default value of 300.
It seems cumbersome to add that option to every single tooltip in the application.

Kind regards

[2019-07-20 15:08] digish777 opened #61 "how to set custom font for tooltip?"
how to set custom font for tooltip?

[2019-07-20 15:12] digish777 opened #62 "add new line in the tool tip"
add new line in the tool tip

[2019-07-22 14:15] helen31 opened #63 "How to increase width of tooltip?"

[2019-07-23 13:42] DoKraus commented on #63
Was not able to put a custom-class on the tooltip, but

[code]

works for me at the moment (the default `max-width` is `200px`).

[2019-07-24 06:45] helen31 commented on #63
Thanks

[2019-07-29 15:24] rafaelsinosak commented on #63
thanks!

[2019-08-07 21:56] MusicDev33 commented on #62
To do this, you'll want to use HTML to style the tooltip. Say you have a span element that you want a multi-line tooltip for. The following line would make it multi-line:
[code]
The `<br>` tag specifies a line break in HTML.

[2019-08-09 14:35] MusicDev33 opened #64 "Show delay breaks click trigger"
This works:
[code]
Now add a show-delay:
[code]
The tooltip won't pop up when you add the show delay, it doesn't even get added to the DOM tree. I'm not sure if this is by design, but it's something I ran into.

[2019-08-09 14:59] MusicDev33 opened #65 "Options don't work when defined in TS file"
Adding options in the `.ts` file doesn't seem to work. I set them in the component's TypeScript file, then use them in the HTML:
[code]
And in the HTML:
[code]
And I still have to set them manually in the HTML because options aren't binding somehow (no errors get thrown).

[2019-08-10 16:34] levz0r commented on #61
Great question! We were wondering too...

[2019-09-08 13:48] cosgab commented on #65
In the following option object 'placement' and 'theme' work, the other don't.

  myOptions = {
    'show-delay': 4000,
    'hide-delay': 1000,
    'placement': 'left',
    'theme': 'light',
    'tooltip-class': 'tooltip'
  };

[2019-09-08 13:57] cosgab commented on #61
Any news?

[2019-09-09 08:39] oloflandahl opened #67 "Package does not support Angular 8"
When I try to update my Angular app to version 8 I get the following messages:

Package "ng2-tooltip-directive" has an incompatible peer dependency to "@angular/common" (requires "^6.0.0-rc.0 || ^6.0.0" (extended), would install "8.2.5").
Package "ng2-tooltip-directive" has an incompatible peer dependency to "@angular/core" (requires "^6.0.0-rc.0 || ^6.0.0" (extended), would install "8.2.5").

[2019-09-13 05:38] am-awais opened #68 "Tool-tip Position in an Angular material dialog"
I am using it with Angular material and some time when i open a material dialog and open tool-tip it displace its original position i.e
placement= top but it shows on out side the dialog modal on top like so much space between tool-tip and tool-tip element. it happens in all Browser but randomly
Please Help (as this is the tool-tip which fits for my project)

[2019-09-16 07:53] drozhzhin-n-e commented on #65
@MusicDev33 @cosgab  fixed in version 2.2.9

[2019-09-16 07:53] #65 closed

[2019-09-16 07:58] drozhzhin-n-e commented on #64
@MusicDev33 Yes, there is a problem with this. But I would not recommend that you do a delay on click, this will make your interface less responsive.

[2019-09-16 08:04] drozhzhin-n-e commented on #63
you can use max-width property

`<button tooltip="Maximum width 300 pixels" [max-width]="300"></button>`

[2019-09-16 08:04] #63 closed

[2019-09-16 08:05] #62 closed

[2019-09-16 08:11] drozhzhin-n-e commented on #61
@digish777 @levz0r @cosgab  use the global stylesheet (src/styles.scss). For example:
[code]

[2019-09-16 08:11] #61 closed

[2019-09-16 10:33] drozhzhin-n-e commented on #63
`max-width` works in version 2.2.9+

[2019-09-16 12:19] wmamunhossain commented on #55
Instend of someTooltip.hide() you should use someTooltip.hideTooltip(). I used it and its seems ok.

[2019-09-17 00:49] donp-kitcheck opened #69 "Doesn't work on disabled element?"
When I apply the directive to a `<button>` element that has either the `disabled` attribute or a CSS property of `pointer-events: none`, then the tooltip won't be shown.  It seems like the display of the tooltip is dependent on the cursor being in a normal state, and not any state that would be associated with a disabled element.

That's a problem, because there's a common use case of needing to d

[2019-09-18 08:03] drozhzhin-n-e commented on #60
@Leonard590 hi, look an example here:

https://github.com/drozhzhin-n-e/ng2-tooltip-directive#set-default-values

[2019-09-18 08:03] #60 closed

[2019-09-18 08:19] drozhzhin-n-e commented on #69
@donp-kitcheck I did not find a way to get mouse events on a disabled button. Try using `class="disabled"` instead of the `disabled` property and add CSS properties for this class.

https://stackoverflow.com/questions/16109228/clicking-a-disabled-input-or-button/16109366

[2019-09-18 08:19] #69 closed

[2019-09-18 08:23] drozhzhin-n-e commented on #59
@naveedshahji The tooltip has only four positions: "top", "bottom", "left", "right". To change the tooltip style, use the global stylesheet: https://github.com/drozhzhin-n-e/ng2-tooltip-directive/issues/61

[2019-09-18 08:23] #59 closed

[2019-09-18 08:53] drozhzhin-n-e commented on #55
Try updating the tooltip to the latest version. Now it works.

[code]
[code]

[2019-09-18 08:53] #55 closed

[2019-09-18 09:27] drozhzhin-n-e commented on #54
@anlovedota1  in the latest version of tooltips, events have the "position" property https://github.com/drozhzhin-n-e/ng2-tooltip-directive#events

[2019-09-18 09:27] #54 closed

[2019-09-18 13:29] wmamunhossain opened #70 "tool-tip misplaced when scrolling the page"
Initially, the tooltip appears correctly. But when I scroll up or down, it moves with the view while the button has gone to the upper or lower section of the page.

[2019-09-19 05:19] drozhzhin-n-e commented on #64
fixed in version 2.3.12

[2019-09-19 05:19] #64 closed

[2019-09-19 05:23] drozhzhin-n-e commented on #70
@wmamunhossain Do you want the tooltip to be fixed relative to the browser window when scrolling?

[2019-09-19 06:20] drozhzhin-n-e commented on #53
@afzalriz304 Use the `pointerEvents="auto"` property to make the tooltip susceptible to mouse events.

[2019-09-19 06:21] drozhzhin-n-e commented on #53
This property is available in version 2.4.12+

[2019-09-19 06:25] drozhzhin-n-e commented on #52
@treesa-cyriac Try the `hideDelayAfterClick="2000"` property, the tooltip will disappear two seconds after it appears

[2019-09-19 06:27] #48 closed

[2019-09-19 06:33] drozhzhin-n-e commented on #35
Now you can use HTML tags `tooltip="click to open menu <br /> drag to move item"`

[2019-09-19 06:33] #35 closed

[2019-09-19 06:40] drozhzhin-n-e commented on #23
Can you describe how to recreate the problem?

[2019-09-19 06:47] #23 closed

[2019-09-19 07:09] drozhzhin-n-e commented on #11
@rajeshK88 You can independently determine the width of the parent element and pass it in the `width` property.

`<button tooltip="Parent width" [width]="parentWidth"></button>`

[2019-09-19 07:09] #11 closed

[2019-09-19 07:25] wmamunhossain commented on #70
No actually. suppose the button is inside a scrollable div. so when I hover upon the button it shows correctly but the problem if I scroll down before the tooltip hide it detached from the button and keeps going with the scrollable view.

[2019-09-19 07:30] drozhzhin-n-e commented on #70
ok i get it

[2019-09-19 08:18] drozhzhin-n-e commented on #21
Now you can set the tooltip coordinates using the position property.

`<button tooltip="Custom position" placement="bottom" [position]="{top: 0, left: 200}">Custom position</button>`

[2019-09-19 08:18] #21 closed

[2019-09-19 11:58] wmamunhossain opened #71 "Auto placement option"
I don't want to set the placement. When the button is close to any edge of the view, the tooltip content of that button goes outside of the visibility. I can't manually set it because I am using it as a standard component all over my app dynamically.

[2019-09-19 12:09] oloflandahl commented on #67
It works. Thanks!

[2019-09-19 12:09] #67 closed

[2019-09-19 12:25] drozhzhin-n-e commented on #71
Do you have any idea how to do this?

[2019-09-19 15:46] closca opened #72 "navigator.maxTouchPoints is not ok for testing if is mobile"
navigator.maxTouchPoints  on IOS Safari is undefined

[2019-09-20 12:47] am-awais commented on #68
@drozhzhin-n-e
Sure As i told you it happen's sometimes so when ever i am able to capture that will show you.

[2019-09-21 14:21] drozhzhin-n-e commented on #71
@wmamunhossain I updated your idea. Auto-positioning should always be on, but you need to be able to set priority positioning.

[2019-09-22 03:38] wmamunhossain commented on #71
@drozhzhin-n-e Thanks, Could you please publish the package?

[2019-09-22 07:50] drozhzhin-n-e commented on #71
@wmamunhossain  I published the package

[2019-09-22 07:50] #71 closed

[2019-09-22 15:19] wmamunhossain opened #74 "`ng-template` support doesn't working after version 2.1.9"
I was trying to use the following approach to show the tooltip.
[code]
But it's not working after taking the update to latest version from `2.1.9`.  It shows like this.
![Untitled](https://user-images.githubusercontent.com/9004837/65390189-ac6db700-dd7e-11e9-8e48-bbe3887d26ca.png)

[2019-09-23 05:58] drozhzhin-n-e commented on #74
@wmamunhossain Fixed in version 2.7.15

[2019-09-23 05:58] #74 closed

[2019-09-23 06:43] am-awais commented on #68
Bug(currently i manage to record that in safari but it happens in all browsers often)
screenshot:
https://www.screencast.com/t/3auGUq2uu8n

Recording:
https://www.screencast.com/t/njSGA6EsF

[2019-09-23 09:29] drozhzhin-n-e commented on #68
@am-awais I think you need to try to solve this problem yourself. I don’t have time now to look for a solution, but I can make an assumption. Get the last commit from this repository. If this does not help, try setting the coordinates of the tooltip using the `position` property.

[2019-09-23 21:37] wasiullahtxtsol opened #75 "Hide-delay is not working."
Hide-delay is not working.

ng2-tooltip-directive
Version : 2.7.16

[2019-09-24 05:25] drozhzhin-n-e commented on #75
@wasiullahtxtsol can you show the code you are using?

[2019-09-24 10:35] am-awais commented on #68
@drozhzhin-n-e
I know i need to solve it my self, i used position property but same thing happen and all files are latest.
Anyway thanks for your precious time

[2019-09-24 10:54] drozhzhin-n-e commented on #68
@am-awais I couldn’t see the video that you attached because of a flash player error. Try to get the coordinates of the button that opens the tooltip at different points in time of opening the modal window. If you manage to get the correct coordinates of the button, then use them, or write here the method by which you received them.

[2019-09-24 12:26] wasiullahtxtsol commented on #75
In Html:

[code]

And in app.module.ts

` imports: [
    TooltipModule.forRoot({
      trigger: "hover"
    })
  ],`

I have also tried to add option hide-delay in imports but didn't work. Am i missing something?
Other options are working.
Thanks.

[2019-09-24 13:46] wasiullahtxtsol commented on #75
Thanks for your response.

'hide-delay': 5000 is working, but 'hide-delay': 0 is not working.

[code]

`    TooltipModule.forRoot(DefaultTooltipOptions as TooltipOptions),`

[2019-09-24 14:02] wasiullahtxtsol commented on #75
At 'hide-delay': 1, it is hiding after 2 seconds. I am trying to hide immediately after the hover is removed.

[2019-09-24 14:08] drozhzhin-n-e commented on #75
@wasiullahtxtsol a two second delay is triggered by a trigger: click. If you use a click, then you need the `hideDelayAfterClick` property

[2019-09-24 14:11] wasiullahtxtsol commented on #75
I am using default trigger which is hover and 'hide-delay:1', but still not hiding immediately.

[2019-09-25 05:10] am-awais commented on #68
ok one more thing by using the coordinates is it responsive as well? because coordinates changes as browser screen size vary

[2019-09-25 05:19] drozhzhin-n-e commented on #75
Check if you have the latest version of Tooltips installed. I do not see any problems with the delay. Keep in mind that the default settings are lower in priority than those you set in the directive.

[2019-09-25 05:30] drozhzhin-n-e commented on #68
@am-awais I meant that you can get the coordinates of an element, for example using the `Element.getBoundingClientRect()` method. The `position` property does not yet respond to resizing the browser window and scrolling.

[2019-09-25 08:20] oloflandahl commented on #75
I get the same behavior as @wasiullahtxtsol in the latest version. And show-delay is not working either.

[2019-09-25 08:29] drozhzhin-n-e commented on #75
@oloflandahl could you give an example of your code?

[2019-09-25 09:23] oloflandahl commented on #75
**I've tried both element options...**
<div class="ellipsis-text" [tooltip]="text" show-delay="500" hide-delay="100">{{text}}</div>

**...and default module options**
const DEFAULT_TOOLTIP_OPTIONS: TooltipOptions = {
    'show-delay': 500,
    'hide-delay': 100
};
imports: [
    ...
    TooltipModule.forRoot(DEFAULT_TOOLTIP_OPTIONS),
],

[2019-09-25 09:33] drozhzhin-n-e commented on #75
@oloflandahl can you record on video how it works?

[2019-09-25 12:38] wasiullahtxtsol commented on #75
@drozhzhin-n-e
Can you please check if the hide-delay and show-delay are working on the [demo page ](http://ivylab.space/tooltip/demo).

I have updated the tooltip to latest version which is 2.7.17, but hide-delay still not working.

[2019-09-26 05:48] drozhzhin-n-e commented on #75
Try to take the module from this repository and check what properties the directive gets here https://github.com/drozhzhin-n-e/ng2-tooltip-directive/blob/master/src/app/tooltip/tooltip.directive.ts#L137

[2019-09-26 05:59] drozhzhin-n-e commented on #75
@wasiullahtxtsol @oloflandahl Also, check if you use the tooltip on the touch screen?

[2019-09-26 08:03] drozhzhin-n-e commented on #75
If you use a touch screen, then try updating the library to version 2.8.17

[2019-10-22 08:21] Bizotics-Dev opened #77 "on click tooltip delayAfterclick not working"

[2019-10-24 16:34] IgnacioAchaval commented on #52
Have the same issue. Did someone figure out how to solve this?

[2019-11-05 09:31] rabinsonrajendran opened #78 "position {top: number, left: number} not working in Angular 4.1.3"
Screen Shot:
![tool](https://user-images.githubusercontent.com/40715645/68195727-588cf980-ffdd-11e9-96d9-7fc0d7b83581.JPG)
HTML code:
`<div class="" placement='top' [position]="{ top: 10, left: 500}" tooltip="{{ toolTipText }}">{{ toolTipT }}</div>`

[2019-11-07 14:55] willwalker opened #79 "When install shows warning messages"
I am using Angular CLI 8.3.17. This can be updated?

Because shows this warnings:

npm WARN ng2-tooltip-directive@2.8.17 requires a peer of @angular/common@^7.2.0 but none is installed. You must install peer dependencies yourself.

npm WARN ng2-tooltip-directive@2.8.17 requires a peer of @angular/core@^7.2.0 but none is installed. You must install peer dependencies yourself.

[2019-11-11 06:43] drozhzhin-n-e commented on #77
@Bizotics-Dev could you give an example of your code?

[2019-11-11 06:46] drozhzhin-n-e commented on #78
@rabinsonrajendran Are you sure you are using the latest version of the module?

[2019-11-11 07:40] drozhzhin-n-e commented on #79
@willwalker Don’t worry, the library was generated on version 7 Angular, but it will work just as well on version 8.

[2019-11-13 11:25] rabinsonrajendran commented on #78
@drozhzhin-n-e,  I'm using Angular "4.1.3" and "ng2-tooltip-directive": "^2.1.7"

[2019-11-13 11:34] drozhzhin-n-e commented on #78
@rabinsonrajendran the position property is available only in new versions

[2019-11-13 12:57] bodpad commented on #55
my.component.html
`<button tooltip="My tooltip" #mytooltip>text</button>`

my.component.ts
[code]
Then u can use
[code]

[2019-11-24 13:25] Stainless2k opened #80 "Tooltip looses most css after display gets set to false and back to true"
In our app we offer a switch to show/hide tooltips. After hiding the toottips once they loose the css class set by `theme` and style attributes like `max-width` etc.

Code looks something like this:
[code]

![hide-breaks-stuff](https://user-images.githubusercontent.com/5407961/69495288-a0f55400-0ec5-11ea-8458-66492a2f9ad3.gif)

[2019-12-02 11:55] #68 closed

[2020-01-07 11:25] KrishnaAnanthi opened #83 "Tooltip doesnt comeup when we have page scroll"
Hi,

I have added tooltip inside a table cell which has pagination. Table has 5 records per page. Table size(vertical and horizontal) keeps changing based on the content. Lets say i have 5 records in table and 3 are visible on the page(wihtout scrolling) and to view other two records we need to scroll the page down. Now tooltip displays only for first three records.. Tooltip doesn't comes up for r

[2020-01-07 11:26] KrishnaAnanthi commented on #83
![image(5)](https://user-images.githubusercontent.com/5318326/71892285-95f13d00-316e-11ea-8d2c-ae01080d653b.png)

[2020-01-07 13:11] ringodotnl commented on #83
Try autoPlacement false or make sure that there's enough room at the bottom of the page to show tooltips.

Hope this helps.

Extra info about autoPlacement default: boolean = true
Place the tooltip so that it does not go beyond the borders of the browser window.
see http://ivylab.space/tooltip @properties

[2020-01-08 05:00] KrishnaAnanthi commented on #83
autoPlacement="false" doesnt work for this case. i have given placement="top" which means there is always space for tooltip to be shown. When zoom in (all rows fits in first page and there is no scroll for page) in this case tooltip comes for all rows.

Looks like when we have page scroll styling for top and left property is not able to figure out.

[2020-01-10 11:22] surebro00 opened #85 "Tooltip lose placement position when switch from Dark mode to Light mode"
Hi all.

My default `placement` is `Top` and `Bottom` alternating, as you can see from the GIF below.
Through an Angular function I can switch from `Light` `theme` and `Dark` `theme`.
But when I do that, it seems the original `placement` is lost. Why?

![bug](https://user-images.githubusercontent.com/36013049/72149182-e2bd5980-33a2-11ea-9e80-66fb81bd3233.gif)

Thanks.

[2020-01-24 11:16] ReinierGielen commented on #70
We also experiance this issue. Most of the time all is well, but sometimes on scroll the tooltip moves up or down relative to the tooltip trigger element. The arrow of the tooltip should always remain in the same place relative to the hovered element.

[2020-01-24 14:11] FlyersWeb commented on #83
Try using the [options] property, I had the same issue and saw that autoPlacement is transformed as autoplacement after rendering. This solved my issue, thanks.

[2020-02-06 14:27] JaviLopezM opened #86 "tooltip-class"
Its possible to define more than 1 class in tooltip-class param?
If its possible, how to separate the diferent classes?

[2020-02-10 00:35] Sebubu opened #87 "Angular 9 support"
An error appears when I try to upgrade to Angular 9.

[code]

Using `ng update @angular/cli @angular/core --force` works and the library seems to be running without a problem.

[2020-02-10 19:16] fdarveau commented on #86
Until #47 finally gets merged, multiple classes is not supported by this plugin.

[2020-02-13 08:49] JaviLopezM opened #89 "tooltip in *ngFor & *ngIf lose the tooltip-class"
In my project in angular 8.3
I have the tooltip inside a list created by ng for and validated by ngIf like this

`<ul>
    <li *ngFor="element of list">
        <span class="mot">{{element.text}}</span><span placement="top" tooltip="{{element.tooltipMessage}}" tooltip-class="db-tooltip" show-delay="300" *ngIf="element.class == 'control'" class="add-icon">+</span>
    </li>
  </ul>`

But when show

[2020-02-14 06:28] noumanbhatti opened #90 "Can we show font-awesome icon in this tooltip?"
I tried with the following template

[code]
it shows a box instead of the icon in tooltip

[2020-02-18 00:23] noumanbhatti commented on #90
This worked for me

 <ng-template #HtmlTemplate>
        <span><fa name="fas fa-exclamation-triangle"></fa> Changes to this field are not applied to existing tickets.</span>
    </ng-template>

[2020-02-18 00:23] #90 closed

[2020-02-19 12:09] ShakurOo commented on #87
Same here, quick win for all developers

[2020-03-04 22:26] noumanbhatti commented on #85
is there a fix for this problem?

[2020-03-07 16:11] drozhzhin-n-e commented on #86
@JaviLopezM You need to update the library to the latest version. To add multiple classes, separate them with a space: `tooltip-class="test test2"`

[2020-03-07 16:11] #86 closed

[2020-03-07 16:23] drozhzhin-n-e commented on #83
@KrishnaAnanthi The latest version of the library has an autoPlacement update. Try updating the library and if the problem persists, write here again.

[2020-03-09 14:11] mm580486 opened #95 "get declared error after update"
hi after update npm & angular i get this error of ng tooltip also after this error i updated ng tooltip pakage but not works fine
[code]

my pakages
[code]

[2020-03-09 15:34] garviand commented on #95
I am seeing this error as well

[2020-03-10 08:44] doronsever commented on #95
We are getting this as well

[2020-03-10 08:51] drozhzhin-n-e commented on #95
@mm580486 @garviand @doronsever  Did you get this error after updating the library or did you install it for the first time? Do earlier versions, for example 2.8.17, lead to this error?

[2020-03-10 08:55] doronsever commented on #95
@drozhzhin-n-e  after upgrading from 2.8.17

[2020-03-10 10:56] mm580486 commented on #95
@drozhzhin-n-e  i get this errror after updating

[2020-03-10 12:54] drozhzhin-n-e commented on #95
@mm580486 @garviand @doronsever Try updating the library to version 2.9.20

[2020-03-11 08:40] mm580486 commented on #95
@drozhzhin-n-e problem solved thanks for fixing

[2020-03-11 08:40] #95 closed

[2020-04-09 08:12] NealGooch commented on #87
If the package works with Angular 9 could the package owners update their dependancies to say Angular v7.2 || v8 || v9.

Many thanks

[2020-04-16 13:11] chaya7908 opened #99 "Auto placement in unstable"
Hi,

I'm using ng2-tooltip-directive (2.9.20)
and trying to open the tooltip right to my element, but top position in not stable,
sometimes (usually for the first time after loading the page) the tooltip is right to the middle of the element,
and sometimes in the bottom of the element.

Do you have any idea?

[2020-04-17 15:21] pippistro opened #100 "ngOnChanges breaks custom-class option"
If your tooltip text is defined as a variable and it changes, the
 ` applyOptionsDefault(defaultOptions, changedOptions);`
`on tooltip.directive.ts line 141 (method ngOnChanges)`
will make you lose the initial options.

[2020-04-19 12:45] chaya7908 commented on #99
I found the problem,
the position calculation is accrued before the content is loaded, and the height of the tooltip is 10px.

I tried to add min-height to the `tooltip-class`, but the class is added to the tooltip element after the calculation.

Can you please change the code, and add the class to the tooltip before the positioning?

[2020-04-26 12:39] naveedshahji opened #102 "how to hide tooltip on click"
how to remove tooltip on click element

[2020-04-28 10:52] stuzfuz opened #103 "Wrong placement in Angular Dialog"
Hi,

I'm using ng2-tooltip heavily in my Angular app.
It works as expected but not in Dialogs as the Tooltip is placed on top of the Browserwindow and not sticked to the source element.
I'm not using top and left placement stuff, so this could be not the root cause.

Can you please help me.

Best,
Peter

[2020-05-08 06:09] AndreyKotofotoff opened #104 "Property content-type not used"
Hello!
[tooltip.directive.ts](https://github.com/drozhzhin-n-e/ng2-tooltip-directive/blob/master/src/app/tooltip/tooltip.directive.ts#L48)
![image](https://user-images.githubusercontent.com/15908484/81375895-1fa81b80-910b-11ea-889e-65126b1384dd.png)

[2020-05-13 13:46] pixedd opened #105 "Angular 9 (ivy) and [options] return Object Object"
With Angular "~9.1.0" (ivy) and  "ng2-tooltip-directive": "^2.9.20", if we use content-type="template" and add [options] object, the tooltip is trigger but the content is: Object Object without any errors. If i remove the [options] property it's working fine.

Example:
`<ng-template #HtmlContent><p style="color:white;">Hello i'm a <strong>bold</strong> text</p></ng-template>`

`<span content-type=

[2020-05-14 18:32] omygoodness commented on #105
Same here

[2020-05-16 07:29] myemuk commented on #105
Try `contentType="template"` instead of `content-type="template"`

[2020-05-18 08:38] pixedd commented on #105
@myemuk thanks for the advice but it's not working, same result: the tooltip is display with content: [Object Object]

[2020-05-18 08:40] myemuk commented on #105
What happens if you remove `[options]="myOptions"`?

[2020-05-18 08:42] pixedd commented on #105
@myemuk

[2020-06-16 14:07] needsmorecoffee commented on #105
@pixedd you need to set "contentType: 'template'" in the options object rather than the template. Works for me when I do that.

[2020-06-16 14:16] needsmorecoffee opened #107 "Unable to disable min-width option"
I would like to control the min-width via css class rather than object property but the option doesn't seem to accept 'none' to disable the default min-width of 200px.

As a workaround, i set the min width to a high number, and in the tooltip class i use !important, but would be nice to be able to not have to do that.

[2020-07-12 09:42] cosminv6u commented on #102
I'm trying https://gist.github.com/drozhzhin-n-e/46ebc7eb7db3c34ee8f97f0d6b483eb7 but still no luck

[2020-07-16 16:10] cosminv6u commented on #102
Now I have an issue, I open the Tooltip with HOVER and when I try to close it with an X button, the .hide() doesn't do nothing.
If I open the Tooltip with CLICK, then .hide() works fine!

frustrating, please help. @drozhzhin-n-e

[2020-07-20 21:35] hadley8899 opened #109 "No longer working with Angular 10"
Seems I cannot upgrade to angular 10 with this package installed.

The error produced from ng update is as follows

user@rcomputer:~/dev/projects/user-portal$ ng update @angular/cli
The installed local Angular CLI version is older than the latest stable version.
Installing a temporary version to perform the update.
Installing packages for tooling via npm.
Installed packages for tooling via npm.
Us

[2020-07-21 14:36] dpasquali opened #110 "Zoom style not supported"
If the tooltip-directive is added on an element (ex: span) into a html page where the zoom style is changed (eg: [style.zoom] = "1.2") the tooltip does not appear above the element, but appears shifted to the side or top depending on the zoom level applied.

[2020-07-22 14:08] ofirrifo opened #111 "incompatible peer dependency to "@angular/core" (requires "^8.0.0" (extended), would install "10.0.4")"
I'm get this error while I'm trying to upgrade to angular 10.
Please update this package to support angular 10

[2020-07-23 07:50] genru commented on #105
same environment same issue. I had tried @needsmorecoffee @myemuk 's solutions, no luck

[2020-07-28 08:27] drozhzhin-n-e commented on #109
@hadley8899 Try to install the latest version of the library. It is built in ng10 environment.

[2020-07-28 08:28] drozhzhin-n-e commented on #111
@ofirrifo Try to install the latest version of the library. It is built in ng10 environment.

[2020-07-29 09:02] drozhzhin-n-e commented on #105
@pixedd @omygoodness @genru I fixed it in version 2.9.22

[2020-07-29 09:02] #105 closed

[2020-07-29 09:02] #111 closed

[2020-07-29 09:03] #109 closed

[2020-07-29 09:06] drozhzhin-n-e commented on #104
Hey. I fixed it in version 2.9.22

[2020-07-29 09:06] #104 closed

[2020-07-29 09:10] drozhzhin-n-e commented on #102
@naveedshahji Use the `hide()` method. An example of a call on the project home page http://ivylab.space/tooltip in the Methods section.

[2020-07-29 09:10] #102 closed

[2020-07-29 09:13] drozhzhin-n-e commented on #57
I forgot to write to you that this component is made http://ivylab.space/popover

[2020-07-29 09:13] #57 closed

[2020-07-29 09:14] #22 closed

[2020-07-29 09:14] #34 closed

[2020-07-29 09:14] #78 closed

[2020-07-29 09:16] drozhzhin-n-e commented on #87
Try to install the latest version of the library. It is built in ng10 environment.

[2020-07-29 09:16] #87 closed

[2020-07-29 23:10] BenRacicot opened #112 "Change detection support"
My app has many lazy-loaded modules where change detection is often lost.

Typically if I need to manually update change detection I call `this.ChangeDetectorRef.detectChanges()`.

How can I manually do this for the tooltips?

[2020-08-06 12:11] neetsingh opened #113 "not able to build the project getting error"
![image](https://user-images.githubusercontent.com/16643679/89531008-211dd880-d80d-11ea-9ef8-f10a62a8d9cc.png)

![image](https://user-images.githubusercontent.com/16643679/89531118-51fe0d80-d80d-11ea-9039-ebcd2eb37845.png)

ERROR in node_modules/ng2-tooltip-directive/lib/tooltip.component.d.ts:19:9 - error TS1086: An accessor cannot be declared in an ambient context.

19     set show(value: boolea

[2020-08-06 12:27] neetsingh commented on #113
i got this issue resolved by doing following , by taking reference from stack overflow url https://stackoverflow.com/questions/60092642/ts1086-an-accessor-cannot-be-declared-in-ambient-context

"skipLibCheck": true in tsconfig.json

"compilerOptions": {
    "skipLibCheck": true
}

[2020-08-06 12:27] #113 closed

[2020-08-17 21:03] fdarveau opened #114 "Angular 10 compatibility update not compatible with tsconfig.json targetting es5 on Angular 9"
This problem happens with an Angular 9 app that has the target set to "es5" in tsconfig.json. The app can no longer be built. The problem is fixed by forcing version 2.9.20 in package.json.

It seems version 2.9.21 and 2.9.22 updates broke compatibility and should have been published as a new minor version rather than a bugfix version.

Here is the stack trace when doing a ng serve :
[code]

[2020-08-18 09:32] levz0r commented on #52
+1

[2020-08-19 13:26] mmgarciaprofile opened #115 "show() method not working (PRO version)"
I want to define a custom html template like this one
[code]
[code]
close method is working as expected. I also checked open method but it doesn't exist.

Any help would be appreciated.

[2020-08-24 12:50] noxiousmobile opened #116 "Unable to run the PRO version."
I've purchased the pro version. I placed this in my app.module.ts file:

import { TooltipModule } from './components/tooltip/tooltip.module';
@NgModule({
  imports: [
    TooltipModule
  ],

But when I run the app I get this **error**:

ERROR in ./src/app/components/tooltip/tooltip.component.sass
Module build failed (from ./node_modules/sass-loader/dist/cjs.js):
SassError: Invalid CSS after "...(2

[2020-08-25 08:34] drozhzhin-n-e commented on #116
@noxiousmobile Hey. Try to download the version for Angular 7 from the same link.

[2020-09-03 05:53] adharshanvj opened #117 "App doesn't load on IE11"
Using ng2-tooltip-directive version 2.9.22 on Angular 9 and the app doesn't load on IE. Doesn't throw any errors on the console aswell. Works perfectly fine on other browsers.

Yes, I have tried importing 'classlist.js' and 'web-animations-js' on the` polyfills.ts` file, setup `browserslist` and have also added es5 compiler option to the `tsconfig.json`

[2020-09-15 00:45] BenRacicot commented on #112
It seems tooltips are broken without being part of the standard Angular lifecycles. ie lazy-loaded modules and components.

Like in the image's situation the tooltip is off from click coords as this is a lazy loaded module.
<img width="113" alt="Screen Shot 2020-09-14 at 8 44 19 PM" src="https://user-images.githubusercontent.com/1815385/93151901-30752900-f6cb-11ea-801c-ed170892dccd.png">

[2020-09-30 18:56] JochenDB commented on #115
@drozhzhin-n-e Any way to work around this without trigger? I want to show the tooltip on page load. What code needs to be changed to fix this?

[2020-10-05 06:43] drozhzhin-n-e commented on #115
@JochenDB You mean the Pro version?

[2020-10-06 14:48] JochenDB commented on #115
@drozhzhin-n-e yes indeed, Pro version

[2020-10-08 11:42] s3nt1n3lz21 opened #120 "Strict type checking expecting theme boolean"
With Angular 9 and strict type checking in templates on

"angularCompilerOptions": {
    "strictTemplates": true,
    "strictInjectionParameters": true
  },

I'm getting a type error on the theme property. For some reason its expecting a type of Boolean but its should be expecting a string. Either "dark" or "light".

When I set theme="light"
I get the error:  Type 'string' is not assignable to typ

[2020-11-10 13:54] Bwizrd opened #121 "Confused on how to style the background of the tooltip"
I have tried multiple ways to style the background of the tooltip and spent over an hour on something that should be simple.

My HTML is

<tooltip #myTooltip="tooltip" tooltip-class="tooltip_bg">
    <div class="tooltip-content">
      <div *ngFor="let catalogueName of catalogueItem.allCatalogueNames">
        {{ catalogueName }}
      </div>
    </div>
  </tooltip>

My global css file is

1st try

[2020-11-13 15:17] Bwizrd commented on #121
It seems that I can change the value in $tooltip-light-background to change the background color. This must overwrite all styles added by css. Was not clear from the docs. Aside from that, this works very well.

[2020-11-13 15:17] #121 closed

[2020-11-20 12:17] raidokaldma opened #122 "Tooltip misplaced on horizontal page scroll"
First, I would like to thank you for an awesome project.

It seems that **ng2-tooltip-directive** does not take into account horizontal scrolling. I ran into the issue with my own project but I was able to reproduce the same issue on your demo page http://ivylab.space/tooltip by increasing page width and scrolling page to the right a bit:
![image](https://user-images.githubusercontent.com/5031837/

[2020-12-01 22:24] billersfy opened #124 "error TS1086: An accessor cannot be declared in an ambient context."
i am using ng2-tooltip-directive 1 year ago, today i have some errors when i try to compile angular project. That error is not related with some releases recently. I am watchivg that hte angular version should be 10 but i am working with 8

ERROR in node_modules/ng2-tooltip-directive/lib/tooltip.component.d.ts:19:9 - error TS1086: An accessor cannot be declared in an ambient context.

19     set s

[2020-12-11 09:31] sedrak1987 opened #125 "pass data to dynamic component"
export class AppComponent {
[code]

How pass data to MyComponent componet?

[2020-12-11 15:36] NaorSibony opened #126 "Can't activate PRO version (Angular 10)"
Hello,
I've just recently purchased the PRO version for my company and I can't activate the PRO version

I followed the Readme File:
import { TooltipModule } from './tooltip-pro/tooltip.module';
Then added it tot the imports.
I can't get even the basic functionality to work now.

Please help

[2020-12-12 11:30] sedrak1987 commented on #126
pls read README file that inside your download

[2020-12-12 16:28] garyro commented on #126
I just down loaded the PRO version and also am having problems the read me makes no sense #1 what is a patch_to_file also the read me seems to refer to a non-existent styles directory. Also the download seems to have 2 versions. I am confused and don't really have the time to figure it out. I'll await hearing from you.

[2020-12-15 15:15] #125 closed

[2020-12-24 03:44] khaled6mmd opened #127 "light theme and show on click don't work"
Hi,

the options light theme and show on click don't work
and give this error

`Identifier 'click' is not defined. The component declaration, template variable declarations, and element references do not contain such a member`

![Capture777](https://user-images.githubusercontent.com/37240519/103058419-c661ff00-45aa-11eb-8c25-6f05594d7052.PNG)

[2020-12-24 03:49] #127 closed

[2021-01-14 12:39] Gabrieloczust commented on #99
I have the same problem!

[2021-01-18 13:31] apurv195 opened #128 "getting Type 'TemplateRef<any>' is not assignable to type 'string'. in Angular 10"
1. i am using **ng2-tooltip-directive = 2.9.22** version in angular 10
2. getting compiling error **Type 'TemplateRef<any>' is not assignable to type 'string'.**
3. here is my code

`	<div [tooltip]="auditoriumTooltip" [content-type]="'template'" [hide-delay]="0">
		<ng-template #auditoriumTooltip>
			<p> {{auditoriumListSecondSectionNew.name}} </p>
			<p> Description : {{auditoriumListSecondSecti

[2021-01-18 14:58] Stan92 opened #129 "Image -> bad position on first load"
Hi,
I set a tooltip (html) using an image.
On the first load, the tooltip has a bad position (the cause may be the loading time of the image).
Is it possible to set a default height for the tooltip, probably that will resolve the issue.

[2021-01-25 18:52] davidjpfeiffer opened #131 "How do package versions map to Angular versions?"
There does not appear to be any way to figure out which version of this package I should use depending on my version of Angular. This is valuable information and is very difficult to figure out by just looking at the code, especially when your GitHub deployment versions do not match your NPM versions.

[2021-02-10 09:05] JanuszCh commented on #131
Good point!

[2021-02-16 12:18] vijaykumawat0578 commented on #100
Hey @pippistro , did you find any solution to this? I'm also facing this issue.

[2021-02-16 14:17] pippistro commented on #100
Hi @vijaykumawat0578, you can find a possible solution in https://github.com/drozhzhin-n-e/ng2-tooltip-directive/pull/101

[2021-03-02 15:37] spdi opened #132 "feature request: boolean trigger"
Hi,
Could you add trigger which can be attached to boolean variable so the 'true' value will shows tooltip and 'false' value will hide tooltip?
I use ng2-tooltip to show errors over the form controls reading theirs 'invalid' property.

[2021-03-12 06:33] MariamKiran1996 commented on #128
Facing the same issue. Is there anybody following this issue?

[2021-04-14 11:53] inwaar commented on #128
Unfortunately the library is not going well with enabled `strictTemplates` that used by default from some version of Angular. The same problem is for `theme="dark"` since it has `theme: boolean;` type in the lib - as a result it's can not be compiled at all.

But you could workaround it and hope it's fixed someday:
[code]

[2021-05-10 08:50] MansSandberg opened #141 "show-delay only work once"
Adding `show-delay` to Tooltip options only work once. After first show the tooltips are shown instantly on hover.
Show-delay set in TooltipOptions in module. (Works as expected if attribute is set in HTML)

Angular: 11.2.6
ng2-tooltip-directive:  2.9.22

[2021-06-08 07:13] xKelvin commented on #69
You can also wrap another element around it!
I.e.:

[code]

[2021-06-11 07:57] thesaiprathap opened #144 "PRO version Installed but basic options are not working"
Hello,
I've purchased the pro version. I placed this in my app.module.ts file:
import { TooltipModule } from './components/tooltip/';
But basic version options are not working. How to use basic version options?

[2021-06-11 08:17] drozhzhin-n-e commented on #144
Hello. What options do you mean exactly?

[2021-06-11 08:22] thesaiprathap commented on #144
All options are not available. I don't know what's wrong I am doing.

[2021-06-11 08:28] drozhzhin-n-e commented on #144
Do you have any errors in the console?

[2021-06-11 08:30] thesaiprathap commented on #144
No there are no errors in the console

[2021-06-11 08:37] drozhzhin-n-e commented on #144
OK. The tooltip appears, but some functions do not work, do I understand correctly? Or is the tooltip not displayed at all?

[2021-06-11 08:38] thesaiprathap commented on #144
Yah.. Tooltip is working but some functions are not working.

[2021-06-11 08:49] drozhzhin-n-e commented on #144
Give me time to check it out.

[2021-06-11 08:50] thesaiprathap commented on #144
Sure....
Thank you so much for your support...

[2021-06-12 14:58] drozhzhin-n-e commented on #144
Could you please give an example of your code where you are using the tooltip?

[2021-06-12 19:14] drozhzhin-n-e commented on #144
Most likely the problem is in the names of the properties. They were renamed in the Pro version in CamelCase notation. I will update the documentation on the site soon.

[2021-06-14 03:18] thesaiprathap commented on #144
F:\xxxx\xxxxx\xxxxx\src\app\components\tooltip

import { TooltipModule } from './components/tooltip/';

@NgModule({
     imports: [
       TooltipModule,
    ]
)}

<span placement="bottom" tooltip="Tooltip">Hover Here</span>

Anything need to add more or import?

I am trying to add a class using tooltip-class but it's not working...

[2021-06-18 08:15] drozhzhin-n-e commented on #144
You imported correctly. I have updated the documentation, please see the updated property names.

[2021-06-18 19:14] drozhzhin-n-e commented on #144
An update to the Pro version was published today, which fixes compatibility issues with the basic version functions. I recommend installing it.

[2021-06-18 19:14] #144 closed

[2021-06-19 05:41] credondocr opened #145 "Error: node_modules/ng2-tooltip-directive/lib/tooltip.directive.d.ts:110:21"
After your last publish `2.10.0` I' m getting the following error during build time

[code]

That is breaking the ci and local environment, any suggestion?

[2021-06-19 12:34] drozhzhin-n-e commented on #145
Which version of Angular are you using?

[2021-06-19 12:37] drozhzhin-n-e commented on #132
I understand what you mean. It really would be easier than calling methods. I will write this down on the roadmap.

[2021-06-19 12:43] drozhzhin-n-e commented on #131
Please tell us in which version of Angular you encountered the problem of the NPM package inconsistency.

[2021-06-19 12:44] drozhzhin-n-e commented on #120
This has been fixed in the latest release.

[2021-06-19 12:44] #120 closed

[2021-06-19 19:12] credondocr commented on #145
`Angular 9.0.2`
Let me show you the package.json

[code]

[2021-06-28 18:59] NealGooch commented on #131
I'm not sure which versions David is having a problem with but I'm having problems with 2.10.1
https://www.npmjs.com/package/ng2-tooltip-directive says the latest version is 2.10.1
Your commit history suggests that you have upgraded to Angular 12 but when you install it NPM reports that it your package needs Angular 10.0.5

I think this is being taken from https://github.com/drozhzhin-n-e/ng2-tool

[2021-06-29 18:18] drozhzhin-n-e commented on #131
@NealGooch Thanks, I'll fix it.

[2021-06-30 11:49] albernaz commented on #145
Same here, using:
    "@angular/common": "^11.2.14",
    "@angular/core": "^11.2.14",

[2021-07-02 10:40] sraza295 commented on #105
@needsmorecoffee Thanks bro, you saved my day

[2021-07-02 10:41] sraza295 commented on #145
@credondocr Dude, use this version. "ng2-tooltip-directive": "^2.9.22",
I also solved it by using this version.

[2021-07-12 15:32] ghost commented on #145
I am using "ng2-tooltip-directive": "^2.9.22", its giving me same error with
"@angular/compiler": "~11.1.1",
"@angular/core": "~11.1.1",

[2021-07-13 05:33] aswathkk commented on #145
I'm using Angular 9.1.3
I was able to resolve this by using:
[code]

[2021-07-14 07:05] sraza295 commented on #145
@ashishdch delete package-lock.json and then "npm install"

[2021-07-16 10:09] anchalquovantis commented on #145
make changes to your package.json.
"ng2-tooltip-directive": "2.9.22" instead of "ng2-tooltip-directive": "^2.9.22"

[2021-07-20 06:43] bashoogzaad opened #146 "Which version for Angular 11?"
Hello there,

What version of this library is needed for Angular 11? I have tested 2.9.22, but this one is not working. It gives me errors like this:

`Error: ./node_modules/ng2-tooltip-directive/fesm2015/ng2-tooltip-directive.js 248:10-28
[ng] "export 'ɵɵFactoryTarget' (imported as 'i0') was not found in '@angular/core'`

Any help is greatly appreciated!

[2021-07-29 12:56] BenRacicot opened #147 "Update @angular/common"
Angular 12 app must install with `--legacy-peer-deps` due to
[code]

Can we get this updated so ng2-tooltip works out of the box without legacy flags?

Let me know if I can simply update the dep, and I'll do a PR.

[2021-08-24 08:09] daxoRRR commented on #145
I am using "ng2-tooltip-directive": "^2.10.3"
"@angular/compiler": "~11.0.2",
"@angular/core": "~11.0.2"

it's giving me the same error.
I need the version 2.10.3 of ng2 tooltip directive because there is a fix I need on my project.

Is there a fix ?

[2021-10-12 02:03] phu-trieu commented on #70
Has anyone been able to resolve this? Currently having the same issue

[2021-10-19 13:20] Nurech commented on #146
Try using `"ng2-tooltip-directive": "~2.9.22"`, should work for `"@angular/core": "^11.2.14"`

[2021-10-28 10:55] Nurech opened #152 "Tooltip doesn't repositsion when dynamic content changes tooltip size"
When dynamic content loads to tooltip whilst it's open, tooltip expands as expected, but because size changed now tooltip ancor is no longer pointing to the correct spot. Would expect tooltip to repositsion if neccarry.

[2021-11-29 08:27] 0xrisec commented on #99
Even autoPlacement is not working correctly in provided demo as well(http://ivylab.space/tooltip/demo).

[2021-12-06 22:59] jagannathgouda97 opened #153 "Error: export 'ɵɵFactoryTarget' (imported as 'i0') was not found in '@angular/core'"
I am getting below error after installing the latest ng2-tooltip-directive.

"export 'ɵɵFactoryTarget' (imported as 'i0') was not found in '@angular/core'
ERROR in ./node_modules/ng2-tooltip-directive/fesm2015/ng2-tooltip-directive.js 612:313-331
"export 'ɵɵFactoryTarget' (imported as 'i0') was not found in '@angular/core'
ERROR in ./node_modules/ng2-tooltip-directive/fesm2015/ng2-tooltip-directiv

[2021-12-07 18:16] degysnet commented on #153
I'm having the same issues with version 11.2.11

[2021-12-08 11:23] ashirwad8858 opened #154 "Swipe not working"
I am using this and I am not able to swipe (left right) image in mobile version. What attribute should set for swiping. And It is not rotating from first image after last image.

[2021-12-13 16:15] markb-trustifi commented on #145
For me the `^2.8.17` version is working and any other later versions don't.

[2021-12-13 18:26] markb-trustifi commented on #153
I have the same issue with ɵɵFactoryDeclaration:
[code]

[2022-01-10 17:37] jmdagenais opened #155 "Angular 13"
Will there be an update of peer dependencies to support Angular 13?

[2022-01-19 01:25] xsh2047 commented on #153
See if this helps @jagannathgouda97
https://stackoverflow.com/questions/68509988/unable-to-do-npm-start

[2022-01-28 04:35] caohothang commented on #155
angular 12 still not working

[2022-01-31 15:08] VitaliiZubko opened #160 "Does not work with "strictTemplates": true"
error TS2322: Type 'TemplateRef<any>' is not assignable to type 'string'.
tooltipValue option should have type string | TemplateRef

[2022-02-11 19:32] Vartanov commented on #155
+1

[2022-02-14 10:04] GianlucaCesari commented on #155
+1

[2022-02-18 04:07] teacoat commented on #155
+1

[2022-02-20 22:03] Mitesh1711 commented on #155
+1

[2022-02-25 10:53] mkariti commented on #155
+10

[2022-03-02 22:19] madmacc commented on #153
Install an earlier version.  [2.9.22] fixes this.

[2022-03-22 21:24] monir-a-khan opened #167 "Accesibility : option to add role tooltip and id"
According to w3c, the tooltip should have role="tooltip". Also an id, the triggering element should have aria-describedby which will refer to this id.

Example scenario which should be achieved is

[code]

[2022-03-22 21:24] monir-a-khan opened #168 "Accesibility : option to add role tooltip and id"
According to w3c, the tooltip should have role="tooltip". Also an id, the triggering element should have aria-describedby which will refer to this id.

Example scenario which should be achieved is

[code]

[2022-04-18 18:16] UltimateGemini commented on #155
Any update on Angular 13 Support?

[2022-04-26 10:47] gurami98 commented on #147
any updates on this ?

[2022-04-27 08:59] subash01 opened #170 "Option to Create a Scroll Bar in tooltip"
I would like to know if we can implement a scrollable and hoverable tooltip content inside the tooltip by using ng2-tooltip-directive.

[2022-05-09 12:31] ankillashiva123 commented on #160
any updates on this issue ?

[2022-05-16 12:42] ThisIsIvan opened #172 "Alternative Library with Angular 12/13 support?"
Anyone knows of any alternative library that supports Angular 12 and/or 13?

[2022-06-18 10:48] mkariti commented on #172
You can clone it, upgrade it and reference it in your project manually

[2022-06-18 10:48] mkariti commented on #155
You can clone it, upgrade it and reference it in your project manually

[2022-06-29 09:34] stefanolsenn commented on #172
https://github.com/cloudfactorydk/ng2-tooltip-directive for Angular 14 support

[2022-09-05 05:57] duxor commented on #172
@ThisIsIvan @mkariti @stefanolsenn Do we have a plan to upgrade this lib and use it without forking and making local updates for every next version?

[2022-09-12 06:35] stefanolsenn commented on #172
Nope.

[2022-09-22 10:00] atif-rehman-ideofuzion commented on #145
Same issue with

[code]

[2022-11-21 12:11] asuchoj opened #177 "Is there an option to add a link or button to the tooltip and click on it?"
I need link, which can navigate to other part of app. That tooltip support to add html code but I didn't find way to emit action like click. Can you help mewith it?

![image](https://user-images.githubusercontent.com/32298761/203049486-dc3477da-6a36-4157-83ce-fb6d0fba0c60.png)

[2022-11-21 13:03] asuchoj commented on #177
Desided it by adding [options]="{pointerEvents: 'auto'}"

[2022-11-21 15:18] #177 closed, assigned to nobody